services:
  under-smash:
    container_name: under-smash
    image: python:3.11.10
    restart: always
    volumes:
      - ./code/:/app/code/
      - ./logs/:/app/logs/
      - ./betfair-init/:/app/betfair-init/ 
      - ./requirements.txt:/app/requirements.txt
      - ./app_v2.db:/app/app_v2.db
    environment:
      - TZ=America/Sao_Paulo
      # betfair files path
      - CRT_DIR=/app/betfair-init/client-2048.crt
      - KEY_DIR=/app/betfair-init/client-2048.key
      # to auth... (remember to use a .env file)
      - BETFAIR_USER=${BETFAIR_USER}
      - BETFAIR_PASSWORD=${BETFAIR_PASSWORD}
      # app key valid to all accounts
      - APP_KEY=gBMF1zhAoNgJIbxw
      # set your db conn or use default
      - DATABASE_URI=sqlite:///app_v2.db
      - STAKE=1
      - LIQUIDEZ_MINIMA=50000

      # set telegram envs
      - TELEGRAM_CLIENT=${TELEGRAM_CLIENT}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
    
    command: bash -c "cd app && pip install -r /app/requirements.txt && python /app/code/main.py"